doctype html
html(lang='ru')
  head
    block variables

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{ title || 'Vite App' }
    meta(
      name='description',
      content=description
    )

    if libsCss
      each css in libsCss
        if isDev
          link(rel='stylesheet', href=`/src/scss/libs/${css}.scss`)
        else
          link(rel='stylesheet', href=`css/libs/${css}.css`)

    //- Main CSS will be injected by Vite
    if isDev
      link(rel='stylesheet', href='/src/scss/main.scss')
    else
      link(rel='stylesheet', href='css/main.css')

    //- Page-specific CSS
    if pageCss
      if isDev
        link(rel='stylesheet', href=`/src/scss/pages/${pageCss}.scss`)
      else
        link(rel='stylesheet', href=`css/${pageCss}.css`)

    //- Block CSS
    if blocks
      each block in blocks
        if isDev
          link(rel='stylesheet', href=`/src/scss/blocks/${block}.scss`)
        else
          link(rel='stylesheet', href=`css/blocks/${block}.css`)

  body
    include ../components/header

    main
      block content

    include ../components/footer

    if isDev
      script(type='module', src='/src/js/libs/lazyload.min.js')
    else
      script(type='module', src='js/libs/lazyload.min.js')
    script.
      document.addEventListener('DOMContentLoaded', function() {var lazyLoadInstance = new LazyLoad();});

    if libsJs
      each script in libsJs
        if isDev
          script(type='module', src=`/src/js/libs/${script}.js`)
        else
          script(type='module', src=`js/libs/${script}.js`)

    //- Main JavaScript
    if isDev
      script(type='module', src='/src/js/main.js')
    else
      script(type='module', src='js/main.js')

    //- Page-specific JavaScript
    if pageJs
      each script in pageJs
        if isDev
          script(type='module', src=`/src/js/${script}.js`)
        else
          script(type='module', src=`js/${script}.js`)

